
<ion-header>

  <ion-toolbar color="navbarcolor">
    <ion-row class="headerheight">
      <ion-col col-2 >
        <ion-icon [navPush]="alertdetail" name="md-add"></ion-icon>
      </ion-col>
      <ion-col col-9>
        <ion-segment [(ngModel)]="alert_opportunity"  class="segment_info" >
          <ion-segment-button class="alerttitle" value="alert">
            Alerts
          </ion-segment-button>
          <ion-segment-button class="alerttitle" value="opportunity">
            Opportunities
          </ion-segment-button>
        </ion-segment>
      </ion-col>
       <ion-col col-1>
        <ion-icon  name="ios-trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content class="app-content" no-padding [ngSwitch]="alert_opportunity">
  <ion-card *ngSwitchCase="'alert'" style="background-color: white;" no-margin>
  	<div>
      <div *ngFor="let item of list" class="alertstyle">
        <p class="alertname">Alert Name</p>
        <div class="grid-list" >
          <ion-item>
            <div item-left class="imageblackborder">
              <img class="categoryimage data" src="assets/icon/post-it.png">
            </div>
            <div >
              <p class="helpfont">POSTED WITHIN</p>
              <p class="blackcolor">Last {{item.history}}hours</p>
            </div>
          </ion-item>
          <ion-item>
            <div item-left class="imageblackborder">
              <img class="categoryimage " src="assets/icon/sports-black.png">
            </div>
            <div>
              <p class="helpfont">DISTANCE</p>
              <p class="blackcolor">{{item.distance}}km</p>
            </div>
          </ion-item>
        </div>

        <div class="grid-list">
          <ion-item>
            <div item-left class="imageblackborder">
              <img class="categoryimage dollar" src="assets/icon/dollar-symbol.png">
            </div>
            <div>
              <p class="helpfont">PRICE RANGE</p>
              <p class="blackcolor">${{item.startprice}}-${{item.lastprice}}</p>
            </div>
          </ion-item>
          <ion-item>
            <div item-left class="imageblackborder">
              <img class="categoryimage data" src="assets/icon/calendar.png">
            </div>
            <div>
              <p class="helpfont">DATE RANGE</p>
              <p class="blackcolor">{{item.startduration}}-{{item.lastduration}}</p>
            </div>
        </ion-item>
        </div>
        <button class="defaultbutton" [navPush]="alertdetail">VIEW ALERT</button>
      </div>
    </div>
  </ion-card>
  <ion-card *ngSwitchCase="'opportunity'" style="background-color: white;" no-margin>
    <div>
      <div *ngFor="let item of list" class="alertstyle">
        <p class="alertname">You have an opportunity</p>
        <div class="grid-list" >
          <ion-item>
            <div item-left class="imageblackborder">
              <img class="categoryimage" src="assets/icon/post-it.png">
            </div>
            <div >
              <p class="helpfont">POSTED WITHIN</p>
              <p class="blackcolor">Last {{item.history}}hours</p>
            </div>
          </ion-item>
          <ion-item>
            <div item-left class="imageblackborder">
              <img class="categoryimage" src="assets/icon/sports-black.png">
            </div>
            <div>
              <p class="helpfont">DISTANCE</p>
              <p class="blackcolor">{{item.distance}}km</p>
            </div>
          </ion-item>
        </div>

        <div class="grid-list">
          <ion-item>
            <div item-left class="imageblackborder">
              <img class="categoryimage dollar" src="assets/icon/dollar-symbol.png">
            </div>
            <div>
              <p class="helpfont">PRICE RANGE</p>
              <p class="blackcolor">${{item.startprice}}-${{item.lastprice}}</p>
            </div>
          </ion-item>
          <ion-item>
            <div item-left class="imageblackborder">
              <img class="categoryimage" src="assets/icon/calendar.png">
            </div>
            <div>
              <p class="helpfont">DATE RANGE</p>
              <p class="blackcolor">{{item.startduration}}-{{item.lastduration}}</p>
            </div>
        </ion-item>
        </div>
        <button class="defaultbutton" [navPush]="alertdetail">VIEW OPPORTUNITY</button>
      </div>
    </div>
  </ion-card>
</ion-content>
