
<ion-header>

  <ion-toolbar color="navbarcolor">
    <ion-row class="headerheight">
      <ion-col col-3 >
      </ion-col>
      <ion-col col-6>
        <ion-segment [(ngModel)]="own_rent"  class="segment_info" >
          <ion-segment-button style="font-size: 2rem;" value="own">
            I Own
          </ion-segment-button>
          <ion-segment-button style="font-size: 2rem;" value="rent">
            I Rent
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col col-2>
      </ion-col>
       <ion-col col-1>
        <ion-icon class="headertitle"  name="ios-trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content [ngSwitch]="own_rent" class="app-content">
  <div *ngSwitchCase="'own'">
    <ion-list [navPush]="chatdetails" class="like-list bottomborder" *ngFor="let item of list" no-margin >
      <ion-item no-lines paddings>
        <ion-thumbnail  item-left>
          <img class="itemimage" src="{{item.img}}" />
        </ion-thumbnail>
        <h2 style="color: black;" class="itemtext">{{item.title}}</h2>
        <h2 class="itemtext">{{item.item_title}}</h2>
        <p class="itemtext">{{item.history}}</p>
        <ion-icon  class="itemtext"  item-right name="ios-arrow-forward-outline" ></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <div *ngSwitchCase="'rent'">
    <ion-list [navPush]="chatdetails" class="like-list bottomborder" *ngFor="let item of list" no-margin >
      <ion-item no-lines paddings>
        <ion-thumbnail  item-left>
          <img class="itemimage" src="{{item.img}}" />
        </ion-thumbnail>
        <h2 style="color: black;" class="itemtext">{{item.title}}</h2>
        <h2 class="itemtext">{{item.item_title}}</h2>
        <p class="itemtext">{{item.history}}</p>
        <ion-icon  class="itemtext"  item-right name="ios-arrow-forward-outline" ></ion-icon>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
