<!--
  Generated template for the CreditPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="profileheader" >
    <ion-row >
      <ion-col col-1>
        <ion-icon [navPush]="addpayment" class="whiteicon" style="padding: 13px 0 0 10px;;" name="md-close"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <h4  style="text-align: center;">ADD CREDIT CARD</h4>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: white;">
	<ion-label class="helpstr">
		NAME ON CARD
	</ion-label>
	<ion-row class="borderbottom">
		<ion-col col-11>
			<ion-input type="text" [(ngModel)]="name" value="John Doe"></ion-input>
		</ion-col>
		<ion-col col-1 style="text-align: center; font-size:3rem;">
			<ion-icon name="close" (click)="removename()"></ion-icon>
		</ion-col>
	</ion-row>
	<ion-label class="helpstr">
		CARD NUMBER
	</ion-label>
	<ion-row class="borderbottom">
		<ion-col col-9>
			<ion-input (ionChange)='f()' type="Number" [(ngModel)]="cardnumber" value="4749 3854 3587 3465"></ion-input>
		</ion-col>
		<ion-col col-2>
	    <img *ngIf="iscard" class="mastersize" src="assets/icon/visa.png">
	    <img *ngIf="!iscard" class="mastersize" src="assets/icon/mastercard.png">
		</ion-col>
		<ion-col col-1 style="text-align: center; font-size:3rem;">
			<ion-icon name="close" (click)="removenumber()"></ion-icon>
		</ion-col>
	</ion-row>
	<ion-item class="helpstr" no-margin >
		<ion-label item-left >
			EXPIRY DATE
		</ion-label>
		<ion-label item-right >
			SECURITY CODE
		</ion-label>
	</ion-item>
	<ion-row class="borderbottom">
		<ion-col col-5>
			<ion-item color="none" no-padding>
        <select (ionChange)="selectyear($event)" class="selectyear">
					<option value="01" selected="true">2017</option>
			    <option value="02">2018</option>
			    <option value="03">2019</option>
			    <option value="04">2020</option>
			    <option value="05">2021</option>
			    <option value="06">2022</option>
			    <option value="07">2023</option>
			    <option value="08">2024</option>
			    <option value="09">2025</option>
			    <option value="10">2026</option>
			    <option value="11">2027</option>
			    <option value="12">2028</option>
			    <option value="13">2029</option>
			    <option value="14">2030</option>
			  </select>
       </ion-item>
		</ion-col>
		<ion-col col-1 style="text-align: center; font-size:3rem;">
			<ion-icon name="close" (click)="cleardate()"></ion-icon>
		</ion-col>
		<ion-col col-5>
	    <ion-input type="{{type}}" name="password" ngModel #password="ngModel" required pattern=".{4,10}"></ion-input>
	  </ion-col>
		<ion-col col-1 style="text-align: center; font-size:3rem;">
			<ion-icon *ngIf="!showPass" (click)="showPassword()" name="ios-eye-off-outline"></ion-icon>
			<ion-icon *ngIf="showPass" (click)="showPassword()" name="ios-eye-outline"></ion-icon>
		</ion-col>
	</ion-row>
	<ion-label class="helpstr">
		Country
	</ion-label>
	<select (ionChange)="selectcountry($event)" class="selectwidth">
		<option value="01" selected="true">Australia</option>
    <option value="02">France</option>
    <option value="03" >Germany</option>
    <option value="04">China</option>
    <option value="05">Russia</option>
    <option value="06">Spain</option>
    <option value="07">Lebanon</option>
    <option value="08">Denmark</option>
    <option value="09">Italy</option>
    <option value="10">Belgium</option>
    <option value="11">Poland</option>
    <option value="12">Hungary</option>
  </select>
  <button ion-button block class="savebutton" (click)="save()">SAVE</button>
<script>
$(document).ready(function(){
    $("button").click(function(){
        $("button").css({"background-color": "#4e9dda", "color": "#ffffff", "width": "60px"});
    });
});
</script>
</ion-content>
