
<ion-header >

  <ion-toolbar no-padding no-margin >
    <ion-row class="profileheader">
      <ion-col  col-1 class="icon-col">
        <img src="assets/icon/avatar.png" style="margin-top: 10px;" [navPush]="profile">
      </ion-col>
      <ion-col class="icon-col" col-10>
      <!--   <ion-searchbar  class="searchbar" placeholder="Find items near you"></ion-searchbar> -->
      <ion-searchbar class="searchbar" placeholder="Find items near you" (ionInput)="filterItems($event)"></ion-searchbar>
      </ion-col>
      <ion-col class="icon-col" col-1>
        <img src="assets/icon/filter.png" style="margin-top: 10px;" [navPush]="search">
       </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="app-content "  >
  <ion-scroll  scrollX="true" class="categorystyle" >
    <ion-segment [(ngModel)]="timeline" style="justify-content: left;">
      <ion-segment-button *ngFor="let item of categorylist" (click)="myFunction($event)"  value="{{item.value}}" >
        <img src="{{item.inactive_img}}" class="categoryimg">
        <p class="categoryfont">{{item.title}}</p>
      </ion-segment-button>
    </ion-segment>
    <!--   <div class="logoblackborder" [ngStyle]="{'border-color': hexColor}">
        <ion-icon name="{{item.icon}}" class="categoryimg"></ion-icon>
      </div>
      <div style="font-size: 10px;"> {{item.title}} </div>
     -->
  </ion-scroll>
  <ion-card  class="grid-list backcolor" *ngFor="let item of categorygrid">
    <div class="image-item" no-lines>
      <img [navPush]="details" class="wardrobe" src="{{item.img}}" />
      <ion-label class="cover_1" >
        ${{item.price}}
      </ion-label>
      <img *ngIf="!showwhite" class="cover_image" (click)="showheart()" src="assets/icon/like.png">
      <ion-icon *ngIf="showwhite" class="cover_2" (click)="showheart()" name="md-heart"></ion-icon>
    </div>
  </ion-card>

</ion-content>