<!--
  Generated template for the SearchresultPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="navbarcolor" hideBackButton="true">
    <ion-row>
      <ion-col  col-1 class="icon-col">
        <img src="assets/icon/avatar.png" style="margin-top: 10px;" [navPush]="profile">
      </ion-col>
      <ion-col class="icon-col" col-10>
        <ion-searchbar  class="searchbar" placeholder="Find items near you"></ion-searchbar>
      </ion-col>
      <ion-col class="icon-col" col-1>
        </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <ion-scroll scrollX="true" class="categorystyle" >
    <div *ngFor="let item of categorylist" class="searchresult" >
      <div class="logoblackborder">
        <ion-icon name="{{item.icon}}" class="categoryimg"></ion-icon>
        <ion-icon name="md-close" class="deleteicon"></ion-icon>
      </div>
      <div > {{item.title}} </div>
    </div>
  </ion-scroll>
  <ion-card class="grid-list" *ngFor="let item of categorylist">
    <div class="image-item" no-lines>
      <img [navPush]="details" class="wardrobe" src="{{item.img}}" />
      <ion-label class="cover_1" >
        ${{item.price}}
      </ion-label>
      <ion-icon name="md-heart-outline" class="cover_2" (click)="ActiveLike()" [ngClass]="{'activeColor':like}" ></ion-icon>
      <ion-icon *ngIf="!showwhite" class="cover_2" (click)="showheart()" name="md-heart-outline"></ion-icon>
      <ion-icon *ngIf="showwhite" class="cover_2" (click)="showheart()" name="md-heart"></ion-icon>
    </div>
  </ion-card>
</ion-content>
